@font-face {
    font-family: 'Highway Gothic Narrow';
    src: url('/fonts/HighwayGothicNarrow.woff2') format('woff2'),
        url('/fonts/HighwayGothicNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'mgp';
    src: url('/fonts/MidashiGoPro-MB31-AlphaNum.woff2') format('woff2'),
        url('/fonts/MidashiGoPro-MB31-AlphaNum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}