body {
  max-width: 1920px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
}
.wrapper {
  line-height: 3;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

@include maxw(1200px) {
  body {
    font-size: 0.9rem;
    line-height: unset;
  }
  h2 {
    font-size: 1.1rem;
  }
  .wrapper {
    line-height: 2;
  }
}
