@font-face {
    font-family: 'Highway Gothic Narrow';
    src: url('/assets/fonts/HighwayGothicNarrow.woff2') format('woff2'),
        url('/assets/fonts/HighwayGothicNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}