.main-content {
  margin-bottom: 5rem;
  > section:not(:first-child) {
    margin-left: 6.5rem;
    margin-right: 6.5rem;

    @include maxw(768px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.banner {
  z-index: 3;
  @include minw(1025px) {
    @include flex(null, null);
  }
  height: 83rem;
  &-l {
    background-color: $color-primary;
    transition-delay: 1s;
  }
  &-r {
    background-color: $color-secondary;
  }
  &-l,
  &-r {
    width: 50%;
    position: relative;
    > * {
      height: auto;
    }
  }
  &-heading {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11.8rem;
    line-height: 0.9;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    &-r {
      font-size: 14.1rem;
      top: 13rem;
    }
    @include maxw(1024px) {
      top: 3rem;
      font-size: 7rem;
      max-width: 40rem;
    }
  }
  &-desc {
    position: absolute;
    top: 53rem;
    left: 50%;
    transform: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    line-height: 1.73;
    font-weight: 600;
    text-align: center;
    //文字詰め
    font-feature-settings: "palt";
    @include maxw(1024px) {
      top: 30rem;
    }

    @include maxw(768px) {
      font-size: 1.1rem;
      width: 100%;
    }
  }
  &-img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 26.6rem;
    transform: translateX(-50%);
    
    &-l {
      max-width: 43.8rem;
      left: 47%;
    }
    &-r {
      max-width: 26.2rem;
      left: 50%;
    }
    @include maxw(1024px) {
      top: 13rem;
      max-width: 27rem;
      object-fit: cover;
      &-l {
        left: 48.5%;
      }
      &-r {
        top: 12rem;
        max-width: 20rem;
      }
    }
  }
  .btn {
    height: 6rem;
    width: 19rem;
    position: absolute;
    left: 50%;
    top: 62rem;
    transform: translateX(-50%);
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    a {
      color: white;
      font-size: 4.1rem;
    }
    @include maxw(1024px) {
      top: 38rem;
      height: 5rem;
      a {
        font-size: 3rem;
      }
    }
  }
  .btn:hover {
    background-color: black;
  }
  .btn:hover a {
    color: white;
  }
}

.content-text-padding {
  padding: 2rem 0 0 1rem;
}

.news {
  margin-top: 4.5rem;

  &-list {
    line-height: 1;
    li {
      padding-bottom: 2rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &-date {
    display: inline-block;
    padding-right: 3rem;
  }
  &-info {
    display: inline-block;
  }

  li:hover a {
    color: #c0982f;
  }
}

.client {
  margin-top: 11rem;
  &-info {
    padding-top: 0.5rem !important;
  }
  @include maxw(1024px) {
    margin-top: 9rem;
  }
  @include maxw(768px) {
    margin-top: 2rem;
  }
}

.company {
  margin-top: 11rem;
  &-info {
    @include flex(flex-start, stretch);
    gap: 5rem;
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.3;
  }

  @include maxw(1024px) {
    margin-top: 9rem;

    &-info {
      flex-direction: column;
      gap: 0.5rem;
      padding-top: 1rem;
      font-size: 1.1rem;
    }
    &-info-en {
      margin-top: 1.5rem;
    }
  }
  @include maxw(768px) {
    margin-top: 3rem;
  }
}

@include maxw(768px) {
  .banner {
    &-heading {
      top: 7rem;
      font-size: 4.5rem;
      letter-spacing: unset;
    }
    &-img-l {
      left: 46%;
    }
    .btn {
      width: 15rem;
      height: 4rem;
      a {
        font-size: 2rem;
      }
    }
  }
}
