$primary-font: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
/* $third-font: 'Overpass', sans-serif; */
$secondary-font: 'Highway Gothic Narrow', 'Overpass', sans-serif;
$color-primary: #d8d7c8;
$color-secondary: #c4c9cd;
$gray: #9c9c9c;
