// animation banner
@include minw(1025px) {
  .banner {
    overflow: hidden;
    position: relative;
  }

  .banner:before,
  .banner:after {
    animation: 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: #fff;
    content: "";
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .banner:before {
    animation-name: banner-before;
    left: 0;
    right: 50%;
  }

  .banner:after {
    animation-name: banner-after;
    left: 50%;
    right: 0;
  }

  @keyframes banner-before {
    100% {
      transform: translateY(100%);
    }
  }

  @keyframes banner-after {
    100% {
      transform: translateY(-100%);
    }
  }
}
//slide
@include maxw(1024px) {
  .banner {
    position: relative;
    width: 100%;
    height: 500px;
    min-height: 500px;
    overflow: hidden;
    .slider {
      width: 100%;
      height: 500px;
      position: absolute;
      clip-path: circle(0% at 0 50%);
      pointer-events: none;
      &.active {
        clip-path: circle(150% at 0 50%);
        transition: 2s;
        transition-property: clip-path;
        pointer-events: auto;
      }
    }
    .navigation {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      .dot {
        width: 10px;
        height: 10px;
        margin: 8px;
        background-color: black;
        border-radius: 50%;
      }
      .dot.active {
        background-color: burlywood;
      }
    }
  }
}

//button back to top
#BackToTop {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $yellow;
  position: fixed;
  bottom: 4rem;
  right: 3%;
  text-align: center;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  span {
    color: white;
    line-height: 40px;
    font-size: 30px;
    vertical-align: center;
  }
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: 13px;
    z-index: 200;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
  }
  &:hover {
    background-color: black;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

//mobarekipage-吹き出しボックス
.break {
  word-break: break-all;
}
.bubble {
  cursor: pointer;
  position: relative;
  border: 2px solid $black-cl;
  text-align: center;
  height: 110px;
  @include flex(center, center);
  &.--big {
    width: 460px;
  }
  &.--medium {
    max-width: 385px;
  }
  &.--small {
    max-width: 320px;
  }
  &:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 40.4%;
    right: auto;
    top: auto;
    bottom: -15px;
    border: 15px solid;
    border-color: $white-cl transparent transparent $white-cl;
  }
  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: 40%;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 10px solid;
    border-color: $black-cl transparent transparent $black-cl;
  }
  &:hover{
    background-color: $yellow-light-cl;
    &:after {
      border-color: $yellow-light-cl transparent transparent $yellow-light-cl;
    }
  }
  @include maxw(1200px) {
    height: 90px;
    &.--big {
      width: 320px;
    }
    &.--medium {
      max-width: 320px;
    }
  }
  @include maxw(768px) {
    &.--big,
    &.--medium,
    &.--small {
      width: 280px;
    }
    br{
      display: none;
    }
  }
}

.question-heading {
  font-size: 48px;
  line-height: 1.76;
  letter-spacing: 0.13em;
  font-weight: bold;
  margin-bottom: 60px;
  &.--heading-1 {
    line-height: 1.4;
  }
  h3 {
    display: inline-block;
    position: relative;
    // max-width: 640px;
    padding-left: 230px;
    text-align: center;
    &:before {
      content: "";
      height: 3px;
      width: 90px;
      background-color: $black-cl;
      position: absolute;
      bottom: 50px;
      left: 120px;
      transform: rotate(55deg);
    }
    &:after {
      content: "";
      height: 3px;
      width: 90px;
      background-color: $black-cl;
      position: absolute;
      bottom: 50px;
      right: -90px;
      transform: rotate(-55deg);
    }
  }
}

.answer-banner {
  background-color: $yellow-light-cl;
  max-height: 695px;
  overflow: hidden;
}

.text-charater {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  .infomain {
    --mTopInfo: 80px;
    --pInfo: 75px;
    display: inline-flex;
    font-size: 72px;
    line-height: 1.72;
    letter-spacing: 0.2em;
    margin-top: var(--mTopInfo);
    border: 3px solid #fff;
    padding: var(--pInfo);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .character {
    position: absolute;
    right: 300px;
    top: 55px;
    max-width: 280px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
