.header {
  @include flex(space-between, center);
  padding: 6.5rem 3rem 4.5rem;
  line-height: normal;
  &:before {
    content: "";
    flex: 1;
  }
  &-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 48rem;
      @include text_center();
    }
    .hidden {
      display: none;
    }
  }
  &-left {
    @include flex(null, center);
  }
  &-menu {
    padding: 0 1rem;
    @include flex(null, center);
    gap: 0.5rem;

    &-list {
      font-size: 2.9rem;
      a {
        color: black;
      }
      &:hover a {
        color: $yellow;
      }
    }
  }
  &-icon {
    width: 4rem;
    margin-left: 3rem;
    img {
      width: 100%;
      @include text_center();
    }
  }
  &-bcg {
    background-color: $color-primary;
  }
}

@include minw(1025px) {
  .header {
    &-menu {
      margin-top: 3px;
      &-list:not(:last-child):after {
        content: "/";
        padding: 0 0.5rem;
      }
    }
  }
}

@include minw(1025px) {
  .menubar {
    display: none;
  }
}

@include maxw(1600px) {
  .header {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    &-logo {
      img {
        width: 40rem;
      }
    }
    &-menu {
      &-list {
        font-size: 2.8rem;
      }
    }
    &-icon {
      width: 3rem;
    }
  }
}

@include maxw(1440px) {
  .header {
    &-logo {
      img {
        width: 36rem;
      }
    }
    &-menu {
      &-list {
        font-size: 2rem;
      }
    }
    &-icon {
      width: 3rem;
    }
  }
}

@include maxw(1024px) {
  .header {
    z-index: 1000;
    box-shadow: 0 0 10px #666;
    padding: 2rem;
    height: 30px;
    &-logo img {
      width: 20rem;
      justify-content: space-between;
    }
    &-menu {
      position: absolute;
      width: 100%;
      /* height: calc(100vh - 60px); */
      left: 0;
      top: 62px;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.75);
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;
      z-index: 2;
      padding: 0;

      li {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 2;
        a {
          display: block;
        }
      }

      li:hover {
        text-align: center;
        background-color: black;

        a {
          color: white;
        }
      }

      &.is-active {
        max-height: 250px;
        overflow: visible;
        background-color: white;
      }
    }
    &-icon {
      width: 2rem;
    }
  }

  .menubar {
    display: block;
    display: flex;
    align-items: center;
    order: 1;
    padding-left: 0.3rem;
  }

  .overlay {
    z-index: 1;
    background-color: gray;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.35s ease-in-out;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  //menu humbager
  .hambuger {
    height: 100%;
    cursor: pointer;
    width: 35px;
    @include flex(center, center);
    span {
      position: relative;
      width: 60%;
      height: 2px;
      background-color: #000;
      transition: all 0.4s ease;
      &.is-active {
        background-color: transparent;
      }
      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #000;
        position: absolute;
        transition: all 0.4s ease;
      }
      &::before {
        top: -6px;
      }
      &::after {
        top: 6px;
      }
      &.is-active {
        &::before {
          top: 0;
          transform: rotate(45deg);
          background: black;
        }
        &::after {
          top: 0;
          transform: rotate(135deg);
          background: black;
        }
      }
    }
  }
}

@include maxw(768px) {
  .header {
    padding: 1rem;
    &-logo img {
      width: 18rem;
    }
    &-menu {
      top: 52px;
      &-list {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
