.main-content {
  margin-bottom: 5rem;
  > section:not(:first-child) {
    margin-left: 6.5rem;
    margin-right: 6.5rem;
  }
}
.banner {
  @include minw(1025px) {
    @include flex(null, null);
    height: 83rem;
  }
  &-l {
    background-color: $color-primary;
    transition-delay: 1s;
  }
  &-r {
    background-color: $color-secondary;
  }
  &-l,
  &-r {
    width: 50%;
    position: relative;
    > * {
      height: auto;
    }
  }
  &-desc {
    position: absolute;
    top: 53rem;
    left: 50%;
    transform: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    line-height: 1.73;
    font-weight: 600;
    text-align: center;
    //文字詰め
    font-feature-settings: "palt";
  }
  &-img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    &-l {
      max-width: 43.8rem;
    }
    &-r {
      max-width: 38.5rem;
    }
  }
  .btn {
    height: 6rem;
    width: 19rem;
    position: absolute;
    left: 50%;
    top: 62rem;
    transform: translateX(-50%);
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    a {
      color: white;
      font-size: 4.1rem;
    }
  }
  .btn:hover {
    background-color: black;
  }
  .btn:hover a {
    color: white;
  }
}
.content-text-padding {
  padding: 2rem 0 0 1rem;
}
.news {
  margin-top: 4.5rem;
  &-list {
    line-height: 1.5;
    li {
      padding-bottom: 2rem;
      display: flex;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &-date {
    padding-right: 3rem;
    width: 10rem;
  }

  li:hover a {
    color: $yellow;
  }
}
.client {
  margin-top: 11rem;
  &-info {
    padding-top: 0.5rem !important;
  }
}
.company {
  margin-top: 11rem;
  &-info {
    @include flex(flex-start, stretch);
    gap: 5rem;
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.3;
  }
}
@include maxw(1440px) {
  .banner {
    max-height: 60rem;
    &-desc {
      top: 68.5%;
      font-size: 1.3rem;
    }
    &-img {
      top: 8%;
      &-l {
        max-width: 38.2rem;
      }
      &-r {
        max-width: 33rem;
      }
    }
    .btn {
      top: 80%;
      a {
        font-size: 3.5rem;
      }
    }
  }
}

@include maxw(1024px) {
  .banner {
    &-desc {
      top: 32rem;
      font-size: 1.1rem;
      width: 100%;
      font-weight: 700;
    }
    &-img {
      object-fit: cover;
      top: 5rem;
      &-l {
        max-width: 28rem;
      }
      &-r {
        max-width: 25rem;
      }
    }
    .btn {
      top: 38rem;
      height: 5rem;
      a {
        font-size: 3rem;
      }
    }
  }
  .client {
    margin-top: 9rem;
  }
  .company {
    margin-top: 9rem;

    &-info {
      flex-direction: column;
      gap: 0.5rem;
      padding-top: 1rem;
      font-size: 1.1rem;
    }
    &-info-en {
      margin-top: 1.5rem;
    }
  }
}
@include maxw(768px) {
  .main-content {
    > section:not(:first-child) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .banner {
    .btn {
      width: 15rem;
      height: 4rem;
      a {
        font-size: 2rem;
      }
    }
  }
  .news {
    &-list {
      padding-top: 0 !important;
      li {
        padding-top: 2rem;
        padding-bottom: 1rem;
        flex-direction: column;
        border-bottom: 1px dotted;
      }
    }
    &-date {
      margin-bottom: 0.6rem;
    }
  }
  .client {
    margin-top: 5rem;
  }
  .company {
    margin-top: 5rem;
  }
}
